<!DOCTYPE html>
<html>
    <head>
        <title>系统管理</title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link rel="stylesheet" href="/stylesheets/system.css">
    </head>
    <body>
        <header style="background:#79be3b;width:100%;height:75px;"> 
            <img src="./images/logo.png" style="width:75px;height:75px;float:left;margin-left:30px;"/>
            <p style="float:left;color:white;font-size:35px;line-height:70px;margin-left:40px;">盒我学后台管理系统</p>
        </header>
        <div class="left">
            <div class="nav">
                <a href="/user">用户管理</a>
            </div>
            <div class="nav">
                <a href="/block">盒塘管理</a>
            </div>
            <div class="nav">
                <a href="/score">积分管理</a>
            </div>
            <div class="nav">
                <a href="/box">盒子管理</a>
            </div>
            <div class="nav">
                <a href="/discovery">发现管理</a>
            </div>
            <div class="nav" style="background: #427911;">
                <a href="/system">系统管理</a>
            </div>
            <div class="nav">
                <a href="/home">返回</a>
            </div>
        </div>
        <div class="right">
            <div style="width:85%;height:420px;margin:40px auto;background:#c4f1bf;font-size:17px;">
                <p style="text-align:center;color:#79be3b;padding-top:20px;">当前管理员信息</p>
                <div style="width:390px;height:130px;margin:10px auto;">
                    <div style="width:100px;float:left;">
                        <img src='/images/manage.jpg' style="width:100%;border-radius:50%;margin-top:20%">
                    </div>
                    <div style="width:150px;float:left;margin-top:10%;margin-left:20px;">
                        <p>
                            用户名：
                            <span>杨扬杨</span>
                        </p>
                        <p style="margin-top:10px">
                            真实姓名：
                            <span>杨扬杨</span>
                        </p>
                    </div> 
                    <a href="/">
                        <button id="out" class="systemOut">退出登录</button>
                    </a>
                </div>
                <div style="width:70%;height:210px;margin:20px auto;text-align:center;line-height:40px;">
                    <div class="systemText">
                        <p>性别：
                            <span id="sex">女</span>
                        </p>
                    </div>
                    <div class="systemText">
                        <p>手机号：
                            <span id="phone">12345678912</span>
                        </p>
                    </div>
                    <div class="systemText">
                        <p>邮箱：
                            <span id="email">123456789@qq.com</span>
                        </p>
                    </div>
                    <div class="systemText">
                        <p>职位：
                            <span id="position">开发</span>
                        </p>
                    </div>
                    <button id="btn" class="systembianji">编辑</button>
                </div>
            </div>
        </div>
        <div>
            <div id="pop-container">
                <div id="cover-tier" class="popPosition"></div>
                <div id="pop-tier" class="popPosition">
                    <i id="close-pop">&#10006;</i>
                    <form style="margin-top:50px;">
                        <div class='text'>
                            <h4>性别：</h4>
                            <input type="text" name="sex" id="new-sex"/>
                        </div>
                        <div class='text'>
                            <h4>手机号：</h4>
                            <input type="text" name="phone" id="new-phone"/>
                        </div>
                        <div class='text'>
                            <h4>邮箱：</h4>
                            <input type="text" name="email" id="new-email"/>
                        </div>
                        <div class='text'>
                            <h4>职位：</h4>
                            <input type="text" name="position" id="new-position"/>
                        </div>
                        <button type="submit" id="save" class="systemSave">保存</button> 
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript"></script>
    <script>
        function temp(id) {
            return document.getElementById(id);
        }
        // 点击按钮出现弹出层
        temp('btn').onclick = function() {
            temp('pop-container').style.display = 'block';
            $('#new-sex').val($('#sex').html());
            $('#new-phone').val($('#phone').html());
            $('#new-email').val($('#email').html());
            $('#new-position').val($('#position').html());
        }
        // 点击右上角X弹出层隐藏
        temp('close-pop').onclick = function() {
            temp('pop-container').style.display = 'none';
        }
    </script>
</html>
