<!DOCTYPE html>
<html>
  <head>
    <title>登录</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/login.css'/>
    <!-- 后端登录 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1506624_oswwuan5y68.css">
  </head>
  <body>
    <header style="background:#79be3b;width:100%;height:75px;"> 
      <img src="./images/logo.png" style="width:75px;height:75px;float:left;margin-left:30px;"/>
      <p style="float:left;color:white;font-size:35px;line-height:70px;margin-left:40px;">盒我学后台管理系统</p>
    </header>
    <div class="login">
      <div class="iconfont icon-wode" style="color:#79be3b;text-align:center"></div>
      <form>
        <input type="text" id="username" placeholder="用户名:">
        <input type="password" id="password" placeholder="密码:">
        <span class="iconfont icon-eye" id="eye" style="color:#79be3b;"></span>
        <div style="margin-top:3px">
          <input type="text" id="code" placeholder="验证码:">
          <input type="button" id="getcode" value="获取验证码">
        </div>
        <button type="button" id="login">登 录</button>
      </form>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript"></script>
  <script>
    // 查看密码
    function temp(id){
      return document.getElementById(id);
    }
    temp('eye').onmouseout = function(){
      temp('password').type="password";
    }
    temp('eye').onmouseover = function(){
      temp('password').type="text";
    }

    // 获取验证码
    $("#getcode").click(function() {
      /*生成验证码*/
      function random(max,min){
        return Math.round(Math.random()*(max-min)+min);
      }
      //生成随机字符库
      var strData = "";
      for(var i=0;i<5;i++){
        var num = random(0,9);//生成0-9的随机数
        var az = String.fromCharCode(random(97,122));//生成a-z
        strData = strData + num + az
      }
      //从随机字符库中随机取4个
      var str = "";
      for(var i=0;i<4;i++){
        str = str + strData[random(0,strData.length-1)];
      }

      $('#getcode').val(str);
      $('#getcode').css({
        'font-size':'18px',
        'font-family':'Tekton Pro'
      });
    });

    // 验证身份
    $('#login').click(function(){
      $.ajax({
        url:'/home',
        method:'POST',
        data:{
          adminUsername: $('#username').val(),
          adminPwd: $('#password').val(),
          code: $('#code').val(),
          getcode: $('#getcode').val(),
        },
        success:function(data){
          if(data == 'success'){
            window.location.href = "/home";
          }
          else if(data == 'code-error'){
            alert('验证码错误，请重新输入');
          }
          else if(data == 'error'){
            alert('用户名或密码错误');
          }
        }
      })
    });

  </script>
</html>
