/* 搜索 */
.Boxbox1{
    height: 40px;
    width:500px;
    margin-top: 25px; 
    margin-left: 50px;
}
a{
    text-decoration: none;
}
.search{
    float: left;
    width: 400px;
    height: 40px;
    border-radius: 20px;
    border:1px solid #eee;
    background: #eee;
    font-size: 18px;
}
.Bar{
    float: left;
    width: 330px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: #eee;
    padding-left: 10px;
}
.Boxbox2{
    height: 80px;
    width: 500px;
    margin-top: 5px; 
    margin-left: 50px;
}
.Boxbox3{
    width: 95%;
    height: 300px;
    margin-top:10px;
    margin-left: 50px;
    border:1px solid #eee;
    margin-bottom: 10px;
}
.Boxbox3 ul{
    width: 100%;
    height: 300px;
    float: left;
}
.Boxbox3 li{
    width: 100%;
    height: 58px;
    border:1px solid #eee;
    float: left;
    
}
.Boxhead{
    text-align: center;
    color: #000;
    text-align: center;
    line-height:3.7rem;
}
.Boxhead1{
    float: left;
    width: 300px;
    color: #000;
    line-height:3.7rem;
}
.Boxhead2{
    float: left;
    width: 160px;
    color: #000;
}
.Boxhead3{
    float: left;
    width: 280px;
    color: #000;
}
.Boximg{
    float: left;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 7px 0 0 125px; 
}
.Boxname{
    width:200px;
    float: left;
    height: 40px;
    line-height: 50px;
    text-align: center;
    margin-left: 110px;
    color: #000;
    font-size: 18px;
}
.Boxnum{
    float: left;
    margin-top: 10px;
    width: 80px;
    height: 23px;
    text-align: center;
    font-size: 14px;
}
.Boxcheck{
    width: 100px;
    height: 35px;
    background-color: violet;
    background-color: #fff;
    border:1px solid #888;
    color: #79be3b;
    margin-left: 130px;
    margin-top: 7px;
    font-size: 15px;
    border-radius: 10px;
    float: left;
}
.Boxcheck1{
    width: 100px;
    height: 35px;
    background-color: #79be3b;
    border:1px solid #888;
    color: #fff;
    margin-left: 20px;
    margin-top: 7px;
    font-size: 15px;
    border-radius: 10px;
    float: left;
}