*{
  padding: 0;
  margin: 0;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  width: 100%;
  height: 100%;
}
.left{
  float: left;
  width: 12%;
}
.right{
  float: left;
  width: 88%;
}
.nav{
  color: white;
  width: 100%;
  height: 40px;
  background: #79be3b;
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}
.nav a{
  color: white;
}
.nav:hover{
  background: #427911;
}
.list{
  width: 230px;
  height: 50px;
  background: #79be3b;
  margin-top: 50px;
  font-size: 18px;
  text-align: center;
  line-height: 45px;
}
.list a{
  color: white;
}
/* 搜索 */
.box1{
  height: 40px;
  width:500px;
  margin-top: 25px; 
  margin-left: 50px;
}
.search{
  float: left;
  width: 400px;
  height: 40px;
  border-radius: 20px;
  border:1px solid #eee;
  background: #eee;
  font-size: 18px;
}
.Bar{
  float: left;
  width: 330px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background: #eee;
  padding-left: 10px;
}
.box2{
  height: 80px;
  width: 500px;
  margin-top: 5px; 
  margin-left: 50px;
  /* background: red; */
}
